In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
random_state = 42

In [3]:
def dataframe(in_file):

    sentences = []
    labels = []
    with open(in_file, 'r') as f:
        lines = f.readlines()
        for line in lines:
            line = line.rstrip()
            # print(line)
            tag = line.split('\t', 1)[0]
            sent = line.split('\t', 1)[1]
            sentences.append(sent)
            labels.append(tag)
    return pd.DataFrame({
        'sentence':sentences,
        'label':labels
    })

In [4]:
data_df = dataframe('../../../../resources/data/TC/fdu-mtl/books.task.train')

In [5]:
data_df.head()

  label                                           sentence
0     1  i am an avid reader of books of biblical proph...
1     1  dave barry has written and selected an extreme...
2     1  arrogance by bernard goldberg is a truly enjoy...
3     1  this is ann waldron 's best mcleod dulaney mys...
4     0  this book made me feel like i was being patron...

In [6]:
data_df.shape

(1600, 2)

In [7]:
y = data_df.pop('label').to_frame()
X = data_df

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.1, random_state=42, stratify=y)

In [10]:
X_train = y_train.join(X_train)
X_val = y_val.join(X_val)
X_train.head()

     label                                           sentence
617      0  i love peterson 's guides , but the birds of m...
1005     0  being an engineer in the aerospace industry i ...
893      0  yuck . this book was totally boring . well , m...
1515     0  i actually know where trieste was before i rea...
38       1  i was very pleased with my order . the book wa...

In [11]:
print('train: {}'.format(X_train.shape))
print('val: {}'.format(X_val.shape))

train: (1440, 2)
val: (160, 2)

In [12]:
np.savetxt('../../../../resources/data/TC/fdu-mtl/books.pp.train', X_train.values, fmt='%s', delimiter='\t')
np.savetxt('../../../../resources/data/TC/fdu-mtl/books.pp.val', X_val.values, fmt='%s', delimiter='\t')