In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
random_state = 42

In [3]:
def dataframe(in_file):

    sentences = []
    labels = []
    with open(in_file, 'r') as f:
        lines = f.readlines()
        for line in lines:
            line = line.rstrip()
            # print(line)
            tag = line.split('\t', 1)[0]
            sent = line.split('\t', 1)[1]
            sentences.append(sent)
            labels.append(tag)
    return pd.DataFrame({
        'sentence':sentences,
        'label':labels
    })

In [4]:
data_df = dataframe('../../../../resources/data/TC/fdu-mtl/health_personal_care.task.train')

In [5]:
data_df.head()

  label                                           sentence
0     1  after going back and forth between oil of olay...
1     0  i had great results with this product with the...
2     0  it 's quality is cheap and poorly made . i bou...
3     1  i really like this product . it 's very dry an...
4     0  i was disappointed getting this product becaus...

In [6]:
data_df.shape

(1600, 2)

In [7]:
y = data_df.pop('label').to_frame()
X = data_df

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.1, random_state=42, stratify=y)

In [10]:
X_train = y_train.join(X_train)
X_val = y_val.join(X_val)
X_train.head()

     label                                           sentence
578      1  this is one of the nicest electric shavers tha...
21       1  i have used this blood pressure monitor almost...
1334     0  i explected the microdermabrasion head to rota...
803      0  after 5 days of minimal use , this pad stopped...
718      1  i 've used this for quite some time now and re...

In [11]:
print('train: {}'.format(X_train.shape))
print('val: {}'.format(X_val.shape))

train: (1440, 2)
val: (160, 2)

In [12]:
np.savetxt('../../../../resources/data/TC/fdu-mtl/health_personal_care.pp.train', X_train.values, fmt='%s', delimiter='\t')
np.savetxt('../../../../resources/data/TC/fdu-mtl/health_personal_care.pp.val', X_val.values, fmt='%s', delimiter='\t')