In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
random_state = 42

In [3]:
def dataframe(in_file):

    sentences = []
    labels = []
    with open(in_file, 'r') as f:
        lines = f.readlines()
        for line in lines:
            line = line.rstrip()
            # print(line)
            tag = line.split('\t', 1)[0]
            sent = line.split('\t', 1)[1]
            sentences.append(sent)
            labels.append(tag)
    return pd.DataFrame({
        'sentence':sentences,
        'label':labels
    })

In [4]:
data_df = dataframe('../../../../resources/data/TC/fdu-mtl/imdb.task.train')

In [5]:
data_df.head()

  label                                           sentence
0     1  the bourne ultimatum  ( 2007 )  review :  afte...
1     1  hollow man starts as brilliant but flawed scie...
2     1  since the title is in english and imdb lists t...
3     0  oh dear .  .  .  as an englishman ,  and a sma...
4     1  following a sitcom plot is so mindlessly easy ...

In [6]:
data_df.shape

(1600, 2)

In [7]:
y = data_df.pop('label').to_frame()
X = data_df

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.1, random_state=42, stratify=y)

In [10]:
X_train = y_train.join(X_train)
X_val = y_val.join(X_val)
X_train.head()

     label                                           sentence
357      1  i have a lot of time for all the columbo films...
1350     1  on an overnight flight from los angeles to mia...
1525     0  and that comes from someone that will withstan...
1252     0  i saw this movie in my international cinema cl...
304      1  deeply emotional .  it can't leave you neutral...

In [11]:
print('train: {}'.format(X_train.shape))
print('val: {}'.format(X_val.shape))

train: (1440, 2)
val: (160, 2)

In [12]:
np.savetxt('../../../../resources/data/TC/fdu-mtl/imdb.pp.train', X_train.values, fmt='%s', delimiter='\t')
np.savetxt('../../../../resources/data/TC/fdu-mtl/imdb.pp.val', X_val.values, fmt='%s', delimiter='\t')