In [13]:
import pandas as pd
import numpy as np
import os

In [14]:
random_state = 42

In [15]:
def dataframe(in_file):

    sentences = []
    labels = []
    with open(in_file, 'r') as f:
        lines = f.readlines()
        for line in lines:
            line = line.rstrip()
            # print(line)
            tag = line.split('\t', 1)[0]
            sent = line.split('\t', 1)[1]
            sentences.append(sent)
            labels.append(tag)
    return pd.DataFrame({
        'sentence':sentences,
        'label':labels
    })

In [16]:
data_df = dataframe('../../../../resources/data/TC/fdu-mtl/kitchen_housewares.task.train')

In [17]:
data_df.head()

  label                                           sentence
0     1  very nice , warm blanket , but too big for a f...
1     1  the glasses are nice quality , but like the ma...
2     0  my wife bought this one from best buy without ...
3     1  the stool fits under my kitchen table and is e...
4     1  the plastic top has no vents thereby producing...

In [18]:
data_df.shape

(1600, 2)

In [19]:
y = data_df.pop('label').to_frame()
X = data_df

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.1, random_state=42, stratify=y)

In [22]:
X_train = y_train.join(X_train)
X_val = y_val.join(X_val)
X_train.head()

     label                                           sentence
1479     0  this steamer performs very poorly . the wrinkl...
1117     0  i purchased this topper june 2006 , and at fir...
203      0  i 've had my vacuum for a few years now only b...
334      0  my mother-in-law and i both had this blender ....
930      1  i have n't used this for herbs but i have used...

In [23]:
print('train: {}'.format(X_train.shape))
print('val: {}'.format(X_val.shape))

train: (1440, 2)
val: (160, 2)

In [24]:
np.savetxt('../../../../resources/data/TC/fdu-mtl/kitchen_housewares.pp.train', X_train.values, fmt='%s', delimiter='\t')
np.savetxt('../../../../resources/data/TC/fdu-mtl/kitchen_housewares.pp.val', X_val.values, fmt='%s', delimiter='\t')