In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
random_state = 42

In [3]:
def dataframe(in_file):

    sentences = []
    labels = []
    with open(in_file, 'r') as f:
        lines = f.readlines()
        for line in lines:
            line = line.rstrip()
            # print(line)
            tag = line.split('\t', 1)[0]
            sent = line.split('\t', 1)[1]
            sentences.append(sent)
            labels.append(tag)
    return pd.DataFrame({
        'sentence':sentences,
        'label':labels
    })

In [4]:
data_df = dataframe('../../../../resources/data/TC/fdu-mtl/electronics.task.train')

In [5]:
data_df.head()

  label                                           sentence
0     1  i purchased the 2gb elite pro sd card but foun...
1     0  the alarms do n't pay any attention to the set...
2     0  this unit will not fit all lighter sockets . i...
3     1  this mouse has never let me down . really work...
4     1  i purchased this remote to replace a broken tv...

In [6]:
data_df.shape

(1598, 2)

In [7]:
y = data_df.pop('label').to_frame()
X = data_df

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.1, random_state=42, stratify=y)

In [10]:
X_train = y_train.join(X_train)
X_val = y_val.join(X_val)
X_train.head()

     label                                           sentence
1373     0  we had troubles fromt he start , they correct ...
1523     0  i bought this last christmas for my three year...
1574     1  i ordered this for my teenage daughter for chr...
120      1  i want the dvds i 'm making to last to as clos...
1267     0  this product costs too much for being such poo...

In [11]:
print('train: {}'.format(X_train.shape))
print('val: {}'.format(X_val.shape))

train: (1438, 2)
val: (160, 2)

In [12]:
np.savetxt('../../../../resources/data/TC/fdu-mtl/electronics.pp.train', X_train.values, fmt='%s', delimiter='\t')
np.savetxt('../../../../resources/data/TC/fdu-mtl/electronics.pp.val', X_val.values, fmt='%s', delimiter='\t')