In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
random_state = 42

In [3]:
def dataframe(in_file):

    sentences = []
    labels = []
    with open(in_file, 'r') as f:
        lines = f.readlines()
        for line in lines:
            line = line.rstrip()
            # print(line)
            tag = line.split('\t', 1)[0]
            sent = line.split('\t', 1)[1]
            sentences.append(sent)
            labels.append(tag)
    return pd.DataFrame({
        'sentence':sentences,
        'label':labels
    })

In [4]:
data_df = dataframe('../../../../resources/data/TC/fdu-mtl/baby.task.train')

In [5]:
data_df.head()

  label                                           sentence
0     1  item is exactly as pictured/described . cute d...
1     1  this little seat is very secure - no slipping ...
2     1  i received this stroller about a week ago , an...
3     1  my son has colic and this blanket is a lifesav...
4     0  i do n't care what other reviewers say , but t...

In [6]:
data_df.shape

(1500, 2)

In [7]:
y = data_df.pop('label').to_frame()
X = data_df

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.1, random_state=42, stratify=y)

In [10]:
X_train = y_train.join(X_train)
X_val = y_val.join(X_val)
X_train.head()

     label                                           sentence
347      1  i ca n't tell you how much i love this product...
133      1  the floppy seat is a great item ... no more wo...
1439     1  the strap on mine broke and i was very quickly...
458      1  my daughter loves to cuddle with the soft slee...
301      0  when my son was in a convertible car seat whic...

In [11]:
print('train: {}'.format(X_train.shape))
print('val: {}'.format(X_val.shape))

train: (1350, 2)
val: (150, 2)

In [14]:
np.savetxt('../../../../resources/data/TC/fdu-mtl/baby.pp.train', X_train.values, fmt='%s', delimiter='\t')
np.savetxt('../../../../resources/data/TC/fdu-mtl/baby.pp.val', X_val.values, fmt='%s', delimiter='\t')