In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
random_state = 42

In [3]:
def dataframe(in_file):

    sentences = []
    labels = []
    with open(in_file, 'r') as f:
        lines = f.readlines()
        for line in lines:
            line = line.rstrip()
            # print(line)
            tag = line.split('\t', 1)[0]
            sent = line.split('\t', 1)[1]
            sentences.append(sent)
            labels.append(tag)
    return pd.DataFrame({
        'sentence':sentences,
        'label':labels
    })

In [4]:
data_df = dataframe('../../../../resources/data/TC/fdu-mtl/apparel.task.train')

In [5]:
data_df.head()

  label                                           sentence
0     0  i ordered a pair for my husband and was very d...
1     1  love hush puppies . they are comfortable and i...
2     0  i was so excited to find these , they seemed t...
3     0  my son picked out these shoes for basketball ....
4     0  the item looks cheap . i ordered a medium size...

In [6]:
data_df.shape

(1600, 2)

In [7]:
y = data_df.pop('label').to_frame()
X = data_df

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.1, random_state=42, stratify=y)

In [10]:
X_train = y_train.join(X_train)
X_val = y_val.join(X_val)
X_train.head()

     label                                           sentence
900      1  i am thrilled to finally purchase birkenstock ...
1051     1  i love wearing those tank tops with shelf bras...
526      0  shipping was quick . the shoes are comfortable...
1399     0  this seller fails to state that the snap is in...
359      1  this is n't a review of this product , so much...

In [11]:
print('train: {}'.format(X_train.shape))
print('val: {}'.format(X_val.shape))

train: (1440, 2)
val: (160, 2)

In [12]:
np.savetxt('../../../../resources/data/TC/fdu-mtl/apparel.pp.train', X_train.values, fmt='%s', delimiter='\t')
np.savetxt('../../../../resources/data/TC/fdu-mtl/apparel.pp.val', X_val.values, fmt='%s', delimiter='\t')