In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import io
import pickle

# functions

In [3]:
data = pd.read_csv('../../../resources/data/NER/GMB/ner_dataset.csv', encoding='"ISO-8859-1"')
data.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [37]:
# writing the data to CoNLL format in text file.

print('writing to conll text...')
with io.open('../../../resources/data/NER/GMB/data.txt', 'w', encoding='utf-8') as fl:
    for row in data.itertuples():
        #print(row)
        if not pd.isna(row[1]):
            fl.write('\n')
        fl.write(row[2] + ' ' + row[4]+'\n')
print('writing completed')

writing to conll text...
writing completed