In [1]:
import pandas as pd
import numpy as np
import os

In [7]:
random_state = 42

In [25]:
def dataframe(in_file):

    sentences = []
    labels = []
    with open(in_file, 'r') as f:
        lines = f.readlines()
        for line in lines:
            line = line.rstrip()
            # print(line)
            tag = line.split(' ', 1)[0]
            sent = line.split(' ', 1)[1]
            sentences.append(sent)
            labels.append(tag)
    return pd.DataFrame({
        'sentence':sentences,
        'label':labels
    })

In [26]:
train_df = dataframe('../../../resources/data/TC/trec/TREC.train.all')

In [27]:
train_df.head()

  label                                           sentence
0     0  How did serfdom develop in and then leave Russ...
1     1   What films featured the character Popeye Doyle ?
2     0  How can I find a list of celebrities ' real na...
3     1  What fowl grabs the spotlight after the Chines...
4     2                    What is the full form of .com ?

In [28]:
from sklearn.model_selection import train_test_split
y = train_df.pop('label').to_frame()
X = train_df
X_train, X_dev, y_train, y_dev = train_test_split(X, y, test_size=0.1, random_state=random_state)

In [30]:
y_train['label'].value_counts()

1    1122
3    1120
0    1042
5     797
4     750
2      75
Name: label, dtype: int64

In [31]:
y_dev['label'].value_counts()

1    128
0    120
3    103
5     99
4     85
2     11
Name: label, dtype: int64

In [36]:
train_df = X_train.join(y_train)
val_df = X_dev.join(y_dev)

In [39]:
test_df = dataframe('../../../resources/data/TC/trec/TREC.test.all')

In [40]:
print('stats')
print('train_df: {}'.format(train_df.shape))
print('dev_df: {}'.format(val_df.shape))
print('test_df: {}'.format(test_df.shape))

stats
train_df: (4906, 2)
dev_df: (546, 2)
test_df: (500, 2)

In [41]:
train_df.to_csv('../../../resources/data/TC/trec/train.csv')
val_df.to_csv('../../../resources/data/TC/trec/val.csv')
test_df.to_csv('../../../resources/data/TC/trec/test.csv')

In [44]:
train_df.sentence.values

array(["Whose special bear 's creator was born on January 18 , 1779 ?",
       'Who commanded the French forces at the Battle of Orleans ?',
       "What was Mark Johnson referring to when he said : `` I still can 't believe it- we beat the Russians ? ''",
       ...,
       'What character in The Beverly Hillbillies has the given names Daisy Moses ?',
       'What does the River Seine empty into ?',
       "What U.S. Congressman said : `` Keep the faith , baby '' ."],
      dtype=object)